.noteForm {
  margin: 30px 0px;
  padding: 10px;

  .form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .upper {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .searchType {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 10px;

        label {
          font-size: 18px;
          font-weight: 500;
        }
        .input {
          width: 380px;
          height: 38px;
          border-radius: 3px;
          padding: 0px 10px;
          font-size: 17px;
          outline: none;
          border: none;
          // box-shadow: 2px 4px 4px 0px var(--shadow);
          // background: var(--white);
        }
      }
    }

    .lower {
      display: flex;
      flex-direction: column;
      gap: 25px;
      textarea {
        height: 450px;
        width: 100%;
        border-radius: 5px;
        padding: 10px;
        font-family: inherit;
        font-size: 17px;
        border: none;
        outline: none;
        box-shadow: 2px 4px 4px 0px var(--shadow);
      }

      .btnGroup {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: flex-end;

        .saveBtn {
          height: 35px;
          color: var(--white);
          width: 100px;
          border: none;
          outline: 2px solid var(--greenish);
          background: var(--greenish);
          font-family: inherit;
          font-weight: 500;
          cursor: pointer;
          border-radius: 2px;
          transition: 0.4s;
        }
        .saveBtn:hover {
          background: #029c66;
        }

        .cancelBtn {
          height: 35px;
          color: var(--white);
          width: 100px;
          border: none;
          background: transparent;
          outline: 2px solid var(--reddish);
          color: var(--reddish);
          font-family: inherit;
          font-weight: 500;
          cursor: pointer;
          border-radius: 2px;
          transition: 0.4s;
        }
        .cancelBtn:hover {
          background: var(--reddish);
          color: var(--white);
        }
      }
    }
  }
}
